<div class="album-content">
  <ol class="album-thumbnails">
    {{#each photos}}
      <li>
        <!-- TODO: link-to photo -->
        <a href="#">
          <img {{bind-attr src=dataURI}} {{bind-attr alt=filename}}/>
        </a>
      </li>
    {{/each}}
  </ol>
</div>
