<article class="album-upload">
  <form {{action "upload" on="submit"}}>
    <p>
      <label>
        Photo:
        {{view PhotoAlbums.PhotoFile id="photo"}}
      </label>
    </p>
  </form>
</article>
