<div class="album-content">
  <ol class="album-thumbnails">
    {{#each photos}}
      <li>
        {{#link-to "photo" id}}
          {{partial "photo_img"}}
        {{/link-to}}
      </li>
    {{/each}}
  </ol>
</div>
