<article class="album-content">
  <ol class="album-thumbnails">
    {{#each photos itemController="photo"}}
      <li {{bind-attr id=photoId}}>
        {{#link-to "photo" this}}
          {{partial "photo_img"}}
        {{/link-to}}
      </li>
    {{/each}}
  </ol>
</article>
