<div class="album-content">
  <ol class="album-thumbnails">
    {{#each photo in photos}}
      <li>
        {{#link-to "photo" photo}}
          <img {{bind-attr src=photo.dataURI}} {{bind-attr alt=photo.filename}}/>
        {{/link-to}}
      </li>
    {{/each}}
  </ol>
</div>
