<div class="layout">
  <nav class="main">
    <h1>
      <a href="/">Photo Albums</a>
    </h1>
    <ul>
      <li>
        <h2>Albums</h2>
        <ol>
          <li>{{#link-to "albums.inbox" activeClass="current"}}Inbox{{/link-to}}</li>
        </ol>
      </li>
    </ul>
  </nav>

  <div class="content">
    {{outlet}}
  </div>
</div>
