<div class="layout off-canvas-wrap">
  <div class="app-container inner-wrap">
    <nav class="top tab-bar">
      <section class="left-small">
        <a id="show-nav-main" class="menu-icon left-off-canvas-toggle"><span>Menu</span></a>
      </section>
      <section class="middle tab-bar-section">
        <h1>
          {{#if album}}
            {{#link-to "album.index" album}}
              {{partial "header"}}
            {{/link-to}}
          {{else}}
            {{partial "header"}}
          {{/if}}
        </h1>
      </section>
    </nav>
    <aside class="left-off-canvas-menu">
      <nav class="main">
        <ul class="off-canvas-list">
          <li><label>Albums</label></li>
          <li>
            <ol>
              <li>{{#link-to "album.index" "inbox"}}Inbox{{/link-to}}</li>
            </ol>
          </li>
        </ul>
      </nav>
    </aside>

    <div class="content">
      {{outlet}}
    </div>

    <a class="exit-off-canvas"></a>
  </div>
</div>
