@import "foundation/components/global";
@import "foundation/components/grid";
@import "foundation/components/type";

.app-container {
  min-height: 100vh;
}

nav.top {
  h1 {
    font-weight: 300;
  }

  a {
    color: inherit;
  }
}

#show-nav-main {
  @extend %hidden-text;
}

nav.main {
  label {
    cursor: default;
  }

  ul, ol {
    margin-left: 0;
  }

  .active {
    @extend %inverted-link;
  }
}

.content {
  @include grid-row;
}

%hidden-text {
  text-indent: -9999em;
}

%inverted-link {
  @extend %white-link;
  background-color: $anchor-font-color;
}

%white-link {
  color: darken($body-bg, 5%);

  &:active, &:hover, &:focus {
    color: $body-bg;
  }
}
