@import "foundation/components/global";
@import "foundation/components/grid";
@import "foundation/components/type";

.app-container {
  min-height: 100vh;
}

#show-nav-main {
  @extend %hidden-text;
  background: image-url('menu.svg') no-repeat center center;
  display: inline-block;
  width: 44px;
  height: 44px;
  position: absolute;
}

nav.main {
  label {
    cursor: default;
  }

  ul, ol {
    margin-left: 0;
  }

  h1 {
    a {
      border-bottom: none;
    }
  }

  .current {
    @extend %inverted-link;
  }
}

.content {
  @include grid-row;
  padding-left: 50px;
}

%hidden-text {
  text-indent: -9999em;
}

%inverted-link {
  background-color: $anchor-font-color;
  color: darken($body-bg, 5%);

  &:active, &:hover, &:focus {
    color: $body-bg;
  }
}
