@import "foundation/scss/foundation/components/buttons";

.photo-upload {
  margin: 1rem 0 0 1rem;

  h2 {
    margin-top: 0;
  }
}

.photo-file {
  position: relative;
  width: 20em;

  span {
    @include button;
    margin: 0;
    width: 100%;
  }

  input {
    cursor: pointer;
    opacity: 0;
    outline: none;

    position: absolute;
    left: 0;
    right: 0;
    top: 0;
  }
}

.upload-ongoing-items {
  list-style-type: none;
  margin-left: 0;
}

.upload-ongoing-item {
  display: flex;

  .upload-activity-indicator {
    position: relative;
    width: 1.5em;
    margin-right: 0.5em;
  }

  p {
    margin-bottom: 0;
  }
}
